<mat-card >
    <mat-card-title>
        {{staticDtata.login}}
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="signUpForm" (ngSubmit)='onLogin()'>
            <mat-form-field>
                <input type="text" placeholder="Username" matInput id="username"
                [formControlName]='signUp.formCtrl.userName' required
                >
                <mat-error *ngIf="signUpForm.get(signUp.formCtrl.userName).invalid">
                    {{ signUp.formErrMsg.userName }}
                </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <input type="text" placeholder="Password" matInput id="password"
                [formControlName]='signUp.formCtrl.password' required
                >
                <mat-error *ngIf="signUpForm.get(signUp.formCtrl.password).invalid">
                    {{ signUp.formErrMsg.password }}
                </mat-error>
            </mat-form-field>
    
            <button color='primary' id="signUp" mat-raised-button type="submit" [disabled]='signUpForm.invalid'>
                {{ staticDtata.signUp }}
            </button>
        </form>
        
    </mat-card-content>
</mat-card>