<mat-card>
  <mat-card-title>
    Post's list:
  </mat-card-title>

  <button mat-raised-button [color]="togglePostList ? 'warn' : 'accent'"
    (click)='togglePostListFlag()' style="margin: 1rem; margin-left: auto;">
    {{ togglePostList ? 'Toggle Post list' : 'View Post list'}}
  </button>

  <mat-card-content>
    <mat-accordion *ngIf="postsList.length && togglePostList">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngFor="let post of postsList"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{post.title}}
          </mat-panel-title>

          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="post-photo" *ngIf="post.photoPath !== '' && post.photoPath">
          <img [src]="post.photoPath" [alt]="post.title">
        </div>
        <p>{{post.content}}</p>

        <mat-action-row *ngIf="isUserAuthenticated">
          <a mat-button color='primary' [routerLink]="['/edit', post.id]" routerLinkActive="router-link-active" >EDIT</a>
          <button mat-button color='warn' (click)='onDelete(post.id)'>DELETE</button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator [length]='totalPosts' (page)='onChangedPage($event)'
              [pageSize]='postsPerPage'
              [pageSizeOptions]='pageSizeOptions'>
    </mat-paginator>
  </mat-card-content>

</mat-card>

<p class="info-text mat-body-1" *ngIf="postsList.length <= 0">No posts yet!</p>
