<mat-card >
    <mat-card-title>
        Create Post
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="createPostForm" (ngSubmit)='onSavePost()'>
            <mat-form-field>
                <input type="text" placeholder="Title" matInput id="post-title"
                formControlName='title'
                >
                <mat-error *ngIf="createPostForm.get('title').invalid">
                    {{ 'Enter title.' }}
                </mat-error>
            </mat-form-field>

            <div>
                <button mat-icon-button color="primary" aria-label="Add Photo to your post."
                    (click)='filePicker.click()' type="button"
                >
                    <mat-icon>add_photo_alternate</mat-icon>
                </button>
                <input type="file" #filePicker (change)='onPhotoSelected($event)'>
            </div>

            <div class="image-preview">
                <img [src]="photoPreviewUrl ? photoPreviewUrl : https://github.com/navjotschahal/Posts-Proj-angular-MEAN-practice/blob/nsc_Posts-basics-MEAN/mean-course-posts-project/src/assets/images/dummy-user/dummyUser.png" [alt]="createPostForm.value.title">
            </div>
    
            <mat-form-field>
                <textarea matInput placeholder="How you feeling today..." rows="7"
                id="post-content" formControlName='content'
                >
                </textarea>
                <mat-error *ngIf="createPostForm.get('content').invalid">
                    {{ 'Enter Content.' }}
                </mat-error>
            </mat-form-field>
    
            <button color='primary' id="add-post" mat-raised-button type="submit" [disabled]='createPostForm.invalid'>
                {{mode === modeEnum.edit ? staticDtata.editPostBtn : staticDtata.createPostBtn }}
            </button>
        </form>
        
    </mat-card-content>
</mat-card>
